

<div class="jumbotron">
  <h1>ASP.NET</h1>
  <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div id="divTest1">
  <button id="btnTest1" value="Press it!">Get Customers</button>
  <button id="btnTest2" value="Press it!">Add a Customer</button>
</div>
<form name="myForm1Name" id="myForm1Id">
  Customer name: <input type="text" id="inpt1Id" name="inpt1Name" size="10" />
</form>
<div class="row">
  <div class="col-md-4">
    <h2>Getting started</h2>
    <p>
      ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
      a broad range of clients, including browsers and mobile devices. ASP.NET Web API
      is an ideal platform for building RESTful applications on the .NET Framework.
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
  </div>  
</div>

<div>
  <table>
    @foreach (var cust in )

  </table>

</div>
<script type="text/javascript">
  $(document).ready(function () {
    //alert("Hi!");
  });

  //$(document).click(function (e) {
  //  alert("target.nodeName: " + e.target.nodeName 
  //    + "\ntarget.localName: " + e.target.localName
      
  //  );
  //});

  $("#btnTest1").click(
    function () {
      
      getCustomers();
    }
  )

  $("#btnTest2").click(
    function () {
      var jsonData = { name: "Tom" };

      alert("Adding " + $("#inpt1Id").val());

      $.ajax({
        type: 'POST',
        //url: '/api/customer',
        url: '@Url.Action("NewCustomer")',
        data: '{name: "' + $("#inpt1Id").val() + '"}',
        //data: '{name: "yyy"}',
        success: getCustomers
        ,
        contentType: 'application/json'
      });
    }
  )

  function getCustomers() {
    $.ajax({ type: 'GET', url: '/api/customer', success: customerSuccess });
  }

  function customerSuccess(data) {
    customerSuccess1(data);
    //customerSuccess2(data);
  }


  function customerSuccess1(data) {   
    $.each(data, function (i, customer) { alert(customer.name)});    
  }

  function customerSuccess2(data) {
    alert(data.length);

    for (var k in data)
      alert(data[k].name);
  }

</script>
