@model List<RestApp1.Models.order>
@using GridMvc.Html

@{
  ViewBag.Title = "GridTest";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GridTest</h2>

<div>
  @Html.Partial("Orders", Model)
</div>

@section scripts{
  @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}


