
@{
    ViewBag.Title = "CHS 3D Modeling/Printing Club - About Us";
    Layout = "~/Views/Shared/_Layout3DClub.cshtml";
}

<h3>About Us</h3>

<div class="club-content">
  <div >
    @*<i style="font-size:large; color:darkred">Camas High school</i>
      <h1 style="margin-top:5px; color:darkred"><i>3D Modeling & Printing Club</i></h1>*@
    <p style="color:black; font-weight:bold">
      Here at the <span class="text-capitalize" style="color:firebrick; font-stretch:wider">CHS 3D Modeling and Printing Club</span>, we'll explore the growing world of 3D designing.
      This student run club boosts interest in STEM fields, and will let students meet others with similar interests.
      3D Modeling covers more than just printable models! We also offer 3D scanning software, graphic designing, and animation software.
      We have printers, computers, and software to our disposal and all levels are welcome!
    </p>
  </div>
  </div>

