@model RestApp1.Models.announcement

@{
  ViewBag.Title = "New Announcement";
  Layout = "~/Views/Shared/_Layout3DClub.cshtml";
}

<div class="club-content">
  <h2>Add a New Announcement</h2>

  <div>
    <form action="~/Club/NewAnnouncement" method="POST">
      <div class="form-group">
        <label for="inputTopic">Topic</label>
        <input type="text" class="form-control" name="topic" id="inputTopic" placeholder="" required value="@Model.topic"/>
      </div>
      <div class="form-group">
        <label for="inputAnnDetail">Detail</label>
        <textarea name="detail" id="txtAnnDetail" class="form-control" rows="6" cols="80" placeholder="" required maxlength="500">@Model.detail</textarea>
        @*<input type="text"  class="form-control" name="detail" id="inputAnnDetail" placeholder="" required>*@
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>

      <input name="ID_announcement" value="@Model.ID_announcement" type="hidden" />
    </form>
  </div>

  </div>

  <script type="text/javascript">
    $("#btnCancel").click(function () {
      var confirmMsg = "Discard the new announcement?";
      if (@Model.ID_announcement != 0)
        confirmMsg = "Discard the change?";
      
      if (confirm(confirmMsg))
        window.location.replace("");
    });

  </script>

